body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
  }
  
  

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:gray;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color:white ;
  }
  }
  /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: black;
    color: white;
    padding: 10px;
  }
    
#AboutImg {
    height: 400px;
    width: 400px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 300px) {
    .column {
      width: 100%;
    }
  }
  .footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
color: black;
text-align: center;
  }
  