

  body {
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
 }

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: 2 px solid black;
  }
  
  

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:gray;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color:white ;
  }
   h2 { color: whitesmoke; 
             font-family: 'Lobster', cursive;
              font-size: 60px; font-weight: normal;
               line-height: 30px;
               font-style: oblique;
               text-align: center; 
               padding: 30px;
               text-align: center;
          margin: 0 0 18px; text-shadow: 10px 0 0 gray }
       .Image{
             margin-left: 0;
             margin-right: 0;
            align-items: center;
            display: flex;
            height: 250px;
            width: 300px;
            float: center;
          }
        h1 { color: whitesmoke; 
     font-family: 'Lobster', cursive;
      font-size: 60px; font-weight: normal;
       line-height: 30px;
       font-style: oblique;
       text-align: center; 
       padding: 30px;
       text-align: center;
   
      margin: 0 0 18px; text-shadow: 10px 0 0 gray }

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
          }